html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.upper {
  background-image: url("img/background.jpg");
  background-size: cover;
  height: 100vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}


.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.nav-links > li a {
  padding: 3vh;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* some styles esp sizes are modeled after the css sheet on Slack's site */
.headline {
  font-weight: 900;
  font-size: 96px;
  margin-bottom: 0;
}

.subhead {
  font-size: 20px;
}

.input-group {
  display: flex;
  flex-direction: row;
}

input {
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  border: 1px solid #B2B2B3;
  border-radius: 4px;
  font-size: 18px;
  padding: 14px;
  margin-right: 10px;
}

button {
  border-radius: 4px;
  font-size: 15px;
  background-color: #42c299;
  color: #fff;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition-duration: 0.3s;
}

button:hover {
  background-color: #3dbd94;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.footnote {
  font-size: 14px;
  color: #70787d;
  margin-top: 1vh;
}

footer {
  font-size: 0.75rem;
}

.lower {
  padding: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contacts {
  padding: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E7E7E9;
}
