/* Colors and styling modeled after official Slack site CSS */

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:hover, a:link, a:visited {
  color: #2c2d30;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 30px;
  font-weight: 900;
}

.upper {
  background-image: url("img/background.jpg");
  background-size: cover;
  height: 100vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}


.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.nav-links > li a {
  border-radius: 4px;
  margin: 10px;
  padding: 6px;
  color: #39464f;
}

div.nav-links > li a:hover {
  background-color: rgba(250,250,250,0.3);
}

.mobile-only {
  display: none;
}

#signin {
  border-style: solid;
  border-width: 2px;
  padding: 9px;
}

#signin:hover {
  background-color: transparent;
  color: #000;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10vh;
}

.headline {
  font-weight: 900;
  font-size: 96px;
  margin: 0;
  color: #253039;
}

#big-ast {
  color: #e32072;
}

.subhead {
  font-size: 20px;
  font-weight: 300;
  color: #39464f;
  margin: 1vh;
}

#small-ast {
  color: #e32072;
  font-size: 40px;
  vertical-align: middle;
}

.input-group {
  display: flex;
  flex-direction: row;
}

input {
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  border: 1px solid #B2B2B3;
  border-radius: 4px;
  font-size: 18px;
  padding: 14px;
  margin-right: 10px;
}

button {
  border-radius: 4px;
  font-size: 15px;
  background-color: #42c299;
  color: #fff;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition-duration: 0.3s;
}

button:hover {
  background-color: #3dbd94;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.footnote {
  font-size: 14px;
  color: #70787d;
  margin-top: 10px;
  font-weight: 200;
}

footer {
  font-size: 0.75rem;
}

.lower {
  padding: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 200;
}

.lower li {
  padding: 1.3vh;
}

.lower li a {
  color: #9e9ea6;
}

.lower li a:hover {
  color: #39464f;
}

.footer-title {
  text-transform: uppercase;
  font-size: 11px;
}

#title1 {
  color: #edb431;
}

#title2 {
  color: #e32072;
}

#title3 {
  color: #2ab27b;
}

#title4 {
  color: #4b6bc6;
}

.contacts {
  padding: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,.05);
}

#footer-logo {
  font-size: 28px;
  margin-left: 0;
}

.contacts a {
  font-size: 0.82rem;
  color: #9e9ea6;
  margin-left: 1rem;
}

.contacts a:hover {
  font-size: 0.82rem;
  color: #39464f;
  margin-left: 1rem;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#twitter {
  font-size: 20px;
}

#twitter:hover {
  color: #00aced;
}

#youtube {
  font-size: 20px;
}

#youtube:hover {
  color: #bb0000;
}

@media only screen and (max-width: 640px) {
  .upper {
    min-height: 650px;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-only {
    display: inline;
  }

  #menu {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 9px;
    order: 7;
  }

  #menu:hover {
    background-color: transparent;
    color: #000;
  }

  input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
  }

  .hidden-menu {
    display: none;
  }

  input[type=checkbox]:checked ~ div.hidden-menu {
   width: 100%;
   height: 100%;
   background-color: purple;
   position: fixed;
   display: flex;
   z-index: 20;
   left: 0;
   top: 0;
   overflow: hidden;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 3vh;
  }

  .mobile-nav-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 4vh;
  }

  .headline {
    font-size: 75px;
    margin-top: auto;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  input {
    font-size: 18px;
    padding: 14px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: center;
  }

  button {
    font-size: 15px;
    padding: 17px;
    margin-top: 10px;
  }

  .subhead {
    order: 3;
    font-size: 18px;
  }

  .lower {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .lower ul {
    width: 100%;
    padding: 7px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d0d0d8;
  }

  .footer-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .plus-sign {
    color: #d0d0d8;
    font-size: 20px;
  }

}
